<div class="login-container">
  <div class="login-card">
    <h2 class="title">Hello!</h2>
    <p class="subtitle">Forgot Password</p>

    <form [formGroup]="fgForm" (ngSubmit)="onSubmit()">
      <!-- Username -->
      <div class="input-group">
        <input
          type="text"
          formControlName="toEmail"
          placeholder="User name"
          class="input-field"
        />
        <mat-icon class="input-icon">person</mat-icon>
      </div>
      <div
        class="error"
        *ngIf="fgForm.get('username')?.touched && fgForm.get('username')?.invalid"
      >
        Username is required
      </div>

      <!-- Password -->
      <div class="input-group" *ngIf="isVisible">
        <input
          type="text"
          formControlName="otp"
          placeholder="Enter Otp"
          class="input-field"
        />
        <mat-icon class="input-icon">pin</mat-icon>
      </div>
      <!-- <div
        class="error"
        *ngIf="fgForm.get('password')?.touched && fgForm.get('password')?.invalid"
      >
        Otp is required
      </div> -->

      <!-- Remember me -->

      <!-- Login Button -->
      <button type="submit" class="login-btn">Submit</button>

      <!-- Forgot Password -->
      <!-- <a class="forgot-link" href="#">Forgot password ?</a> -->
    </form>

    <!-- Footer -->
    <p class="footer-text">
      already have an account ? <a href="#">Log in</a>
    </p>
  </div>
</div>
