<div class="login-container">
  <div class="login-card">
    <h2 class="title">Hello!</h2>
    <p class="subtitle">Reset Password</p>

    <form [formGroup]="fgForm" (ngSubmit)="onSubmit()">
      <!-- Username -->
      <div class="input-group">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="input-field"
        />
        <mat-icon class="input-icon">pin</mat-icon>
      </div>
      <div
        class="error"
        *ngIf="fgForm.get('password')?.touched && fgForm.get('password')?.invalid"
      >
       Password is required
      </div>

      <!-- Password -->
      <div class="input-group">
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          class="input-field"
        />
        <mat-icon class="input-icon">pin</mat-icon>
      </div>
       <div
        class="error"
        *ngIf="fgForm.get('confirmPassword')?.touched && fgForm.get('confirmPassword')?.invalid"
      >
       Confirm Password is required
      </div>
      <div class="error" *ngIf="fgForm.errors?.['passwordMismatch'] && fgForm.get('confirmPassword')?.touched">
         Passwords do not match
      </div>
      <!-- Login Button -->
      <button type="submit" class="login-btn">Submit</button>

      <!-- Forgot Password -->
      <!-- <a class="forgot-link" href="#">Forgot password ?</a> -->
    </form>

    <!-- Footer -->
    <p class="footer-text">
      already have an account ? <a href="#">Log in</a>
    </p>
  </div>
</div>
